<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>CINEMA ROULETTE</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Movies! &#127881
      </h1>
      <div class="favorites">
        <a href="/favorites">Favorites!</a>
      </div>
    </header>
    <main class="container container-fluid mt-5">

      {{{body}}}
    </main>
  </div>

  <article class="movie-list" id="movies">
    <h2>Movies</h2>
    <div class="images">
      <img src="/images/batman.png" alt="batman" class="image-item" />
      <img src="/images/gladiator.png" alt="gladiator" class="image-item" />
      <img src="/images/halloween.png" alt="halloween" class="image-item" />
      <img src="/images/harrypotter.png" alt="harrypotter" class="image-item" />
      <img src="/images/matrix.png" alt="matrix" class="image-item" />
      <img src="/images/romance.png" alt="romance" class="image-item" />
      <img src="/images/scary.png" alt="scary" class="image-item" />
      <img src="/images/gladiator2.png" alt="gladiator" class="image-item" />
      <img src="/images/starwars.png" alt="gladiator" class="image-item" />
      <img src="/images/starwars2.png" alt="gladiator" class="image-item" />
    </div>
  </article>
</body>

</html>