<h2>Welcome to the CINEMA ROULETTE</h2>
<div>
    <p>Please pick up to 3 Genres.</p>
</div>



<form id="checkboxForm">

    <div>
        <input type="checkbox" id="option1" name="options" value="28">
        <label for="option1">Action</label>
        <input type="checkbox" id="option2" name="options" value="14">
        <label for="option2">Fantasy</label>
        <input type="checkbox" id="option3" name="options" value="36">
        <label for="option3">History</label>
        <input type="checkbox" id="option4" name="options" value="27">
        <label for="option4">Horror</label>
        <input type="checkbox" id="option5" name="options" value="10749">
        <label for="option5">Romance</label>
        <input type="checkbox" id="option6" name="options" value="878">
        <label for="option6">SciFi</label>

    </div>


    <button id="submit" type="submit">ROULETTE!</button>
</form>



<div>
    <section id="movies">8
    </section>
</div>

<div class="footer">
    <p>Made with ♥ by Dylan, Joe, Jose, Laxmi, Neil, and Noushin</p>

</div>
<script src="/js/script.js"></script>